apiVersion: v2
name: alfresco-process-application
version: 7.12.0-alpha.52
appVersion: 7.12.0-SNAPSHOT
kubeVersion: '>=1.15.0-0'
description: A Helm chart for an Alfresco Activiti Enterprise application
keywords:
  - process
  - alfresco
  - activiti
  - alfresco activiti enterprise
home: https://github.com/Alfresco/alfresco-process-application-deployment
icon: https://avatars0.githubusercontent.com/u/391127?s=200&v=4
dependencies:
  - name: common
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    version: 7.11.0-alpha.1
    alias: activiti-cloud-query
    condition: application.activiti-cloud-query.enabled,activiti-cloud-query.enabled
  - name: postgresql
    version: 10.3.13
    repository: https://raw.githubusercontent.com/bitnami/charts/eb5f9a9513d987b519f0ecd732e7031241c50328/bitnami
    condition: application.postgresql.enabled,postgresql.enabled
  - name: rabbitmq
    version: 8.20.5
    repository: https://raw.githubusercontent.com/bitnami/charts/eb5f9a9513d987b519f0ecd732e7031241c50328/bitnami
    condition: application.rabbitmq.enabled,rabbitmq.enabled
  - name: common
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    version: 7.11.0-alpha.1
    alias: runtime-bundle
    condition: application.runtime-bundle.enabled,runtime-bundle.enabled
  - name: common
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    version: 7.11.0-alpha.1
    alias: activiti-cloud-connector
    condition: application.activiti-cloud-connector.enabled,activiti-cloud-connector.enabled
  - name: common
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    version: 7.11.0-alpha.1
    alias: alfresco-admin-app
    condition: application.alfresco-admin-app.enabled,alfresco-admin-app.enabled
  - name: common
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    version: 7.11.0-alpha.1
    alias: alfresco-digital-workspace-app
    condition: application.alfresco-digital-workspace-app.enabled,alfresco-digital-workspace-app.enabled
  - name: kafka
    repository: https://raw.githubusercontent.com/bitnami/charts/eb5f9a9513d987b519f0ecd732e7031241c50328/bitnami
    version: 12.x.x
    condition: application.kafka.enabled,kafka.enabled
