activiti-cloud-connector:
  image:
    repository: ${DOCKER_REGISTRY}/activiti/example-cloud-connector
    tag: ${AC_TAG}
activiti-cloud-query:
  image:
    repository: ${DOCKER_REGISTRY}/quay.io/alfresco/alfresco-process-query-service
    tag: ${AAE_TAG}
runtime-bundle:
  image:
    repository: ${DOCKER_REGISTRY}/activiti/example-runtime-bundle
    tag: ${AC_TAG}
  init:
    image:
      repository: ${DOCKER_REGISTRY}/alpine
      tag: ${ALPINE_TAG}
postgres:
  image:
    registry: ${DOCKER_REGISTRY}
    repository: bitnami/postgresql
    tag: ${POSTGRESQL_TAG}
  volumePermissions:
    image:
      registry: ${DOCKER_REGISTRY}
      repository: bitnami/minideb
      tag: ${MINIDEB_TAG}
rabbitmq:
  busyboxImage:
    repository: ${DOCKER_REGISTRY}/busybox
    tag: ${BUSYBOX_TAG}
  image:
    repository: ${DOCKER_REGISTRY}/rabbitmq
    tag: ${RABBITMQ_TAG}
alfresco-admin-app:
  image:
    repository: ${DOCKER_REGISTRY}/quay.io/alfresco/alfresco-admin-app
    tag: ${APA_APP_TAG}
alfresco-process-workspace-app:
  image:
    repository: ${DOCKER_REGISTRY}/quay.io/alfresco/alfresco-process-workspace-app
    tag: ${APW_APP_TAG}
alfresco-digital-workspace-app:
  image:
    repository: ${DOCKER_REGISTRY}/quay.io/alfresco/alfresco-digital-workspace
    tag: ${DWS_APP_TAG}
